scratch/raw_001.json
{
  "active": true,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split Message",
            "type": "main"
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "index": 0,
            "node": "Edit Fields",
            "type": "main"
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "MD Discord DM Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Code in JavaScript",
            "type": "main"
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    },
    "Split Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send a message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "id": "ngHGoKsaRVwCIB5F",
  "name": "Agent-001 : Managing Director",
  "nodes": [
    {
      "credentials": {
        "discordBotTriggerApi": {
          "id": "KXXGCmAlix0gbmRx",
          "name": "Discord Bot Trigger account"
        }
      },
      "id": "119ad91b-6b5e-4a2f-86c1-2dc6932755f8",
      "name": "MD Discord DM Trigger",
      "parameters": {
        "additionalFields": {},
        "pattern": "every",
        "type": "direct-message"
      },
      "position": [
        -544,
        16
      ],
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "typeVersion": 1
    },
    {
      "id": "fc197d9f-f5e7-4c0a-a3cd-9688ed45ad9f",
      "name": "Code in JavaScript",
      "parameters": {
        "jsCode": "// Preserve all input fields and add clean text\nreturn {\n  ...$json,\n  text: ($json.content || \"\").replace(/<@!?(\\d+)>/g, \"\").trim()\n};"
      },
      "position": [
        -320,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "afa28744-f76d-4e7a-8847-1d8b6e163e17",
      "name": "AI Agent",
      "parameters": {
        "options": {},
        "promptType": "define",
        "text": "={{ $json.text }}"
      },
      "position": [
        192,
        16
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3
    },
    {
      "id": "ebe5facb-b269-4cd4-a8ec-ab9263ec3e07",
      "name": "Edit Fields",
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a20ca8f-5bc0-4bd7-aafb-0b86d203c52a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "2b6eca89-b4ab-4a77-91ce-bceaa22d4f03",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('MD Discord DM Trigger').item.json.authorId }}"
            },
            {
              "id": "channelId-id-123",
              "name": "channelId",
              "type": "string",
              "value": "={{ $json.channelId }}"
            }
          ]
        },
        "options": {}
      },
      "position": [
        -96,
        16
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4
    },
    {
      "credentials": {
        "googlePalmApi": {
          "id": "w2G5l1efn5AKHGrq",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "id": "caa77788-8ba8-4271-936d-9accc1b4ad91",
      "name": "Google Gemini Chat Model",
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "position": [
        80,
        224
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1
    },
    {
      "id": "53fb69c4-28ad-450e-a0f6-b86c8f49f84d",
      "name": "Simple Memory",
      "parameters": {},
      "position": [
        240,
        240
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3
    },
    {
      "credentials": {
        "discordBotApi": {
          "id": "s6o8IJ27EzjVKMfi",
          "name": "Discord Bot account 2"
        }
      },
      "id": "136ff551-5f4b-4101-b9db-c9b469c072e4",
      "name": "Send a message",
      "parameters": {
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ (() => { try { return $('Edit Fields').item.json.channelId; } catch(e) { return $('Edit Fields1').item.json.channelId; } })() }}"
        },
        "content": "={{ $json.output }}",
        "guildId": {
          "__rl": true,
          "cachedResultName": "Tin-Tin's server",
          "cachedResultUrl": "https://discord.com/channels/1512432308152434708",
          "mode": "list",
          "value": "1512432308152434708"
        },
        "options": {},
        "resource": "message"
      },
      "position": [
        752,
        16
      ],
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "webhookId": "1ba58198-e9de-483e-98d5-8d625143b5d6"
    },
    {
      "id": "52055799-24b1-481f-ab7f-787729b8252b",
      "name": "Split Message",
      "parameters": {
        "jsCode": "const chunks = [];\nconst text = $json.output || \"\";\nconst maxLength = 1900;\n\nif (text.length <= maxLength) {\n  chunks.push(text);\n} else {\n  let currentChunk = \"\";\n  const lines = text.split('\\n');\n  for (const line of lines) {\n    if ((currentChunk + \"\\n\" + line).length > maxLength) {\n      if (currentChunk) chunks.push(currentChunk);\n      currentChunk = line;\n      while (currentChunk.length > maxLength) {\n        chunks.push(currentChunk.substring(0, maxLength));\n        currentChunk = currentChunk.substring(maxLength);\n      }\n    } else {\n      currentChunk = currentChunk ? (currentChunk + \"\\n\" + line) : line;\n    }\n  }\n  if (currentChunk) {\n    chunks.push(currentChunk);\n  }\n}\n\nreturn chunks.map(chunk => ({\n  ...$json,\n  output: chunk\n}));"
      },
      "position": [
        512,
        -128
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    }
  ]
}