scratch/workflow_md_current.json
{
  "updatedAt": "2026-06-06T09:28:38.960Z",
  "createdAt": "2026-06-06T02:48:11.339Z",
  "id": "ngHGoKsaRVwCIB5F",
  "name": "Agent-001 : Managing Director",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "type": "direct-message",
        "pattern": "every",
        "additionalFields": {}
      },
      "id": "119ad91b-6b5e-4a2f-86c1-2dc6932755f8",
      "name": "MD Discord DM Trigger",
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "position": [
        -544,
        16
      ],
      "typeVersion": 1,
      "credentials": {
        "discordBotTriggerApi": {
          "id": "KXXGCmAlix0gbmRx",
          "name": "Discord Bot Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preserve all input fields and add clean text\nreturn {\n  ...$json,\n  text: ($json.content || \"\").replace(/<@!?(\\d+)>/g, \"\").trim()\n};"
      },
      "id": "fc197d9f-f5e7-4c0a-a3cd-9688ed45ad9f",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "systemPrompt": "=\u0e04\u0e38\u0e13\u0e04\u0e37\u0e2d {{ $('Get MD Persona').item.json.agent_name }}\n\n\u0e2b\u0e19\u0e49\u0e32\u0e17\u0e35\u0e48\u0e41\u0e25\u0e30\u0e04\u0e27\u0e32\u0e21\u0e23\u0e31\u0e1a\u0e1c\u0e34\u0e14\u0e0a\u0e2d\u0e1a\u0e2b\u0e25\u0e31\u0e01\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e04\u0e37\u0e2d:\n{{ $('Get MD Persona').item.json.skill_set }}\n\n\u0e1a\u0e23\u0e34\u0e1a\u0e17\u0e42\u0e04\u0e23\u0e07\u0e01\u0e32\u0e23\u0e1b\u0e31\u0e08\u0e08\u0e38\u0e1a\u0e31\u0e19:\n{{ $('Get MD Persona').item.json.context_data }}\n\n\u0e01\u0e0e\u0e40\u0e2b\u0e25\u0e47\u0e01\u0e43\u0e19\u0e01\u0e32\u0e23\u0e17\u0e33\u0e07\u0e32\u0e19\u0e41\u0e25\u0e30\u0e01\u0e32\u0e23\u0e04\u0e31\u0e14\u0e01\u0e23\u0e2d\u0e07\u0e02\u0e2d\u0e1a\u0e40\u0e02\u0e15\u0e07\u0e32\u0e19:\n{{ $('Get MD Persona').item.json.learned_logic }}\n\n\u0e42\u0e1b\u0e23\u0e14\u0e15\u0e2d\u0e1a\u0e43\u0e19\u0e20\u0e32\u0e29\u0e32\u0e40\u0e14\u0e35\u0e22\u0e27\u0e01\u0e31\u0e1a\u0e1c\u0e39\u0e49\u0e43\u0e0a\u0e49 (\u0e20\u0e32\u0e29\u0e32\u0e44\u0e17\u0e22) \u0e41\u0e25\u0e30\u0e1b\u0e0f\u0e34\u0e40\u0e2a\u0e18\u0e2d\u0e22\u0e48\u0e32\u0e07\u0e2a\u0e38\u0e20\u0e32\u0e1e\u0e2b\u0e32\u0e01\u0e2d\u0e22\u0e39\u0e48\u0e19\u0e2d\u0e01\u0e02\u0e2d\u0e1a\u0e40\u0e02\u0e15\u0e07\u0e32\u0e19\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e15\u0e32\u0e21\u0e2a\u0e40\u0e1b\u0e01",
        "text": "={{ $('Edit Fields').item.json.text }}",
        "options": {}
      },
      "id": "afa28744-f76d-4e7a-8847-1d8b6e163e17",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        192,
        16
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a20ca8f-5bc0-4bd7-aafb-0b86d203c52a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "2b6eca89-b4ab-4a77-91ce-bceaa22d4f03",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('MD Discord DM Trigger').item.json.authorId }}"
            },
            {
              "id": "channelId-id-123",
              "name": "channelId",
              "type": "string",
              "value": "={{ $json.channelId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebe5facb-b269-4cd4-a8ec-ab9263ec3e07",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -96,
        16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "id": "caa77788-8ba8-4271-936d-9accc1b4ad91",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        80,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "w2G5l1efn5AKHGrq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Edit Fields').item.json.sessionId }}"
      },
      "id": "53fb69c4-28ad-450e-a0f6-b86c8f49f84d",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        240,
        240
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": "1512432308152434708",
          "cachedResultUrl": "https://discord.com/channels/1512432308152434708",
          "cachedResultName": "Tin-Tin's server"
        },
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ (() => { try { return $('Edit Fields').item.json.channelId; } catch(e) { return $('Edit Fields1').item.json.channelId; } })() }}"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "id": "136ff551-5f4b-4101-b9db-c9b469c072e4",
      "name": "Send a message",
      "type": "n8n-nodes-base.discord",
      "position": [
        752,
        16
      ],
      "webhookId": "1ba58198-e9de-483e-98d5-8d625143b5d6",
      "typeVersion": 2,
      "credentials": {
        "discordBotApi": {
          "id": "s6o8IJ27EzjVKMfi",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chunks = [];\nconst text = $json.output || \"\";\nconst maxLength = 1900;\n\nif (text.length <= maxLength) {\n  chunks.push(text);\n} else {\n  let currentChunk = \"\";\n  const lines = text.split('\\n');\n  for (const line of lines) {\n    if ((currentChunk + \"\\n\" + line).length > maxLength) {\n      if (currentChunk) chunks.push(currentChunk);\n      currentChunk = line;\n      while (currentChunk.length > maxLength) {\n        chunks.push(currentChunk.substring(0, maxLength));\n        currentChunk = currentChunk.substring(maxLength);\n      }\n    } else {\n      currentChunk = currentChunk ? (currentChunk + \"\\n\" + line) : line;\n    }\n  }\n  if (currentChunk) {\n    chunks.push(currentChunk);\n  }\n}\n\nreturn chunks.map(chunk => ({\n  ...$json,\n  output: chunk\n}));"
      },
      "id": "52055799-24b1-481f-ab7f-787729b8252b",
      "name": "Split Message",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        -128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT agent_name, skill_set, context_data, learned_logic FROM agent_knowledge WHERE agent_id = 'MD';",
        "options": {}
      },
      "id": "postgres-get-md-persona-id",
      "name": "Get MD Persona",
      "type": "n8n-nodes-base.postgres",
      "position": [
        48,
        16
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "PEIuFXuORvNgS8U7",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get MD Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD Discord DM Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get MD Persona": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c5e5940e-2566-43a9-89c4-2966f4b8ffa2",
  "activeVersionId": "c5e5940e-2566-43a9-89c4-2966f4b8ffa2",
  "versionCounter": 68,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-06T02:48:11.339Z",
      "createdAt": "2026-06-06T02:48:11.339Z",
      "role": "workflow:owner",
      "workflowId": "ngHGoKsaRVwCIB5F",
      "projectId": "gtdsnKAZJZorw4NC",
      "project": {
        "updatedAt": "2026-06-06T02:46:53.666Z",
        "createdAt": "2026-06-06T02:33:20.439Z",
        "id": "gtdsnKAZJZorw4NC",
        "name": "krit chantraprayoon <krit2518@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2026-06-06T02:33:20.439Z",
            "createdAt": "2026-06-06T02:33:20.439Z",
            "userId": "b036eff6-c4c3-4b24-b563-a8ff81bb18af",
            "projectId": "gtdsnKAZJZorw4NC",
            "user": {
              "updatedAt": "2026-06-06T08:00:05.114Z",
              "createdAt": "2026-06-06T02:33:18.872Z",
              "id": "b036eff6-c4c3-4b24-b563-a8ff81bb18af",
              "email": "krit2518@gmail.com",
              "firstName": "krit",
              "lastName": "chantraprayoon",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ngHGoKsaRVwCIB5F",
                "userActivatedAt": 1780728120755
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-06T09:28:38.967Z",
    "createdAt": "2026-06-06T09:28:38.967Z",
    "versionId": "c5e5940e-2566-43a9-89c4-2966f4b8ffa2",
    "workflowId": "ngHGoKsaRVwCIB5F",
    "nodes": [
      {
        "parameters": {
          "type": "direct-message",
          "pattern": "every",
          "additionalFields": {}
        },
        "id": "119ad91b-6b5e-4a2f-86c1-2dc6932755f8",
        "name": "MD Discord DM Trigger",
        "type": "n8n-nodes-discord-trigger.discordTrigger",
        "position": [
          -544,
          16
        ],
        "typeVersion": 1,
        "credentials": {
          "discordBotTriggerApi": {
            "id": "KXXGCmAlix0gbmRx",
            "name": "Discord Bot Trigger account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Preserve all input fields and add clean text\nreturn {\n  ...$json,\n  text: ($json.content || \"\").replace(/<@!?(\\d+)>/g, \"\").trim()\n};"
        },
        "id": "fc197d9f-f5e7-4c0a-a3cd-9688ed45ad9f",
        "name": "Code in JavaScript",
        "type": "n8n-nodes-base.code",
        "position": [
          -320,
          16
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "promptType": "define",
          "systemPrompt": "=\u0e04\u0e38\u0e13\u0e04\u0e37\u0e2d {{ $('Get MD Persona').item.json.agent_name }}\n\n\u0e2b\u0e19\u0e49\u0e32\u0e17\u0e35\u0e48\u0e41\u0e25\u0e30\u0e04\u0e27\u0e32\u0e21\u0e23\u0e31\u0e1a\u0e1c\u0e34\u0e14\u0e0a\u0e2d\u0e1a\u0e2b\u0e25\u0e31\u0e01\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e04\u0e37\u0e2d:\n{{ $('Get MD Persona').item.json.skill_set }}\n\n\u0e1a\u0e23\u0e34\u0e1a\u0e17\u0e42\u0e04\u0e23\u0e07\u0e01\u0e32\u0e23\u0e1b\u0e31\u0e08\u0e08\u0e38\u0e1a\u0e31\u0e19:\n{{ $('Get MD Persona').item.json.context_data }}\n\n\u0e01\u0e0e\u0e40\u0e2b\u0e25\u0e47\u0e01\u0e43\u0e19\u0e01\u0e32\u0e23\u0e17\u0e33\u0e07\u0e32\u0e19\u0e41\u0e25\u0e30\u0e01\u0e32\u0e23\u0e04\u0e31\u0e14\u0e01\u0e23\u0e2d\u0e07\u0e02\u0e2d\u0e1a\u0e40\u0e02\u0e15\u0e07\u0e32\u0e19:\n{{ $('Get MD Persona').item.json.learned_logic }}\n\n\u0e42\u0e1b\u0e23\u0e14\u0e15\u0e2d\u0e1a\u0e43\u0e19\u0e20\u0e32\u0e29\u0e32\u0e40\u0e14\u0e35\u0e22\u0e27\u0e01\u0e31\u0e1a\u0e1c\u0e39\u0e49\u0e43\u0e0a\u0e49 (\u0e20\u0e32\u0e29\u0e32\u0e44\u0e17\u0e22) \u0e41\u0e25\u0e30\u0e1b\u0e0f\u0e34\u0e40\u0e2a\u0e18\u0e2d\u0e22\u0e48\u0e32\u0e07\u0e2a\u0e38\u0e20\u0e32\u0e1e\u0e2b\u0e32\u0e01\u0e2d\u0e22\u0e39\u0e48\u0e19\u0e2d\u0e01\u0e02\u0e2d\u0e1a\u0e40\u0e02\u0e15\u0e07\u0e32\u0e19\u0e02\u0e2d\u0e07\u0e04\u0e38\u0e13\u0e15\u0e32\u0e21\u0e2a\u0e40\u0e1b\u0e01",
          "text": "={{ $('Edit Fields').item.json.text }}",
          "options": {}
        },
        "id": "afa28744-f76d-4e7a-8847-1d8b6e163e17",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          192,
          16
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a20ca8f-5bc0-4bd7-aafb-0b86d203c52a",
                "name": "text",
                "type": "string",
                "value": "={{ $json.text }}"
              },
              {
                "id": "2b6eca89-b4ab-4a77-91ce-bceaa22d4f03",
                "name": "sessionId",
                "type": "string",
                "value": "={{ $('MD Discord DM Trigger').item.json.authorId }}"
              },
              {
                "id": "channelId-id-123",
                "name": "channelId",
                "type": "string",
                "value": "={{ $json.channelId }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ebe5facb-b269-4cd4-a8ec-ab9263ec3e07",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "position": [
          -96,
          16
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite",
          "options": {}
        },
        "id": "caa77788-8ba8-4271-936d-9accc1b4ad91",
        "name": "Google Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          80,
          224
        ],
        "typeVersion": 1,
        "credentials": {
          "googlePalmApi": {
            "id": "w2G5l1efn5AKHGrq",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "sessionKey": "={{ $('Edit Fields').item.json.sessionId }}"
        },
        "id": "53fb69c4-28ad-450e-a0f6-b86c8f49f84d",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          240,
          240
        ],
        "typeVersion": 1.3
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "mode": "list",
            "value": "1512432308152434708",
            "cachedResultUrl": "https://discord.com/channels/1512432308152434708",
            "cachedResultName": "Tin-Tin's server"
          },
          "channelId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ (() => { try { return $('Edit Fields').item.json.channelId; } catch(e) { return $('Edit Fields1').item.json.channelId; } })() }}"
          },
          "content": "={{ $json.output }}",
          "options": {}
        },
        "id": "136ff551-5f4b-4101-b9db-c9b469c072e4",
        "name": "Send a message",
        "type": "n8n-nodes-base.discord",
        "position": [
          752,
          16
        ],
        "webhookId": "1ba58198-e9de-483e-98d5-8d625143b5d6",
        "typeVersion": 2,
        "credentials": {
          "discordBotApi": {
            "id": "s6o8IJ27EzjVKMfi",
            "name": "Discord Bot account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const chunks = [];\nconst text = $json.output || \"\";\nconst maxLength = 1900;\n\nif (text.length <= maxLength) {\n  chunks.push(text);\n} else {\n  let currentChunk = \"\";\n  const lines = text.split('\\n');\n  for (const line of lines) {\n    if ((currentChunk + \"\\n\" + line).length > maxLength) {\n      if (currentChunk) chunks.push(currentChunk);\n      currentChunk = line;\n      while (currentChunk.length > maxLength) {\n        chunks.push(currentChunk.substring(0, maxLength));\n        currentChunk = currentChunk.substring(maxLength);\n      }\n    } else {\n      currentChunk = currentChunk ? (currentChunk + \"\\n\" + line) : line;\n    }\n  }\n  if (currentChunk) {\n    chunks.push(currentChunk);\n  }\n}\n\nreturn chunks.map(chunk => ({\n  ...$json,\n  output: chunk\n}));"
        },
        "id": "52055799-24b1-481f-ab7f-787729b8252b",
        "name": "Split Message",
        "type": "n8n-nodes-base.code",
        "position": [
          512,
          -128
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT agent_name, skill_set, context_data, learned_logic FROM agent_knowledge WHERE agent_id = 'MD';",
          "options": {}
        },
        "id": "postgres-get-md-persona-id",
        "name": "Get MD Persona",
        "type": "n8n-nodes-base.postgres",
        "position": [
          48,
          16
        ],
        "typeVersion": 2.6,
        "credentials": {
          "postgres": {
            "id": "PEIuFXuORvNgS8U7",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "AI Agent": {
        "main": [
          [
            {
              "node": "Split Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Get MD Persona",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Split Message": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MD Discord DM Trigger": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get MD Persona": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "krit chantraprayoon",
    "name": null,
    "description": null
  }
}
