scratch/workflow_programmer_backend_backup.json
{
  "updatedAt": "2026-06-06T13:54:21.962Z",
  "createdAt": "2026-06-06T07:37:39.306Z",
  "id": "AiIax4SxYvDOfUH4",
  "name": "Agent-005 : Programmer-001",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "119ad91b-6b5e-4a2f-86c1-2dc6932755f8",
      "name": "MD Discord DM Trigger",
      "type": "n8n-nodes-discord-trigger.discordTrigger",
      "position": [
        -544,
        16
      ],
      "parameters": {
        "type": "direct-message",
        "pattern": "every",
        "additionalFields": {}
      },
      "credentials": {
        "discordBotTriggerApi": {
          "id": "YmHOfCtMPohOc4TJ",
          "name": "Discord Bot Trigger account Programmer-001"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fc197d9f-f5e7-4c0a-a3cd-9688ed45ad9f",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        16
      ],
      "parameters": {
        "jsCode": "// Preserve all input fields and add clean text\nreturn {\n  ...$json,\n  text: ($json.content || \"\").replace(/<@!?(\\d+)>/g, \"\").trim()\n};"
      },
      "typeVersion": 2
    },
    {
      "id": "afa28744-f76d-4e7a-8847-1d8b6e163e17",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        192,
        16
      ],
      "parameters": {
        "text": "={{ $json.text }}",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 3
    },
    {
      "id": "ebe5facb-b269-4cd4-a8ec-ab9263ec3e07",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -96,
        16
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "9a20ca8f-5bc0-4bd7-aafb-0b86d203c52a",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "2b6eca89-b4ab-4a77-91ce-bceaa22d4f03",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('MD Discord DM Trigger').item.json.authorId }}"
            },
            {
              "id": "channelId-id-123",
              "name": "channelId",
              "type": "string",
              "value": "={{ $json.channelId }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "caa77788-8ba8-4271-936d-9accc1b4ad91",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        80,
        224
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-3.1-flash-lite"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "w2G5l1efn5AKHGrq",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "53fb69c4-28ad-450e-a0f6-b86c8f49f84d",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        240,
        240
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "136ff551-5f4b-4101-b9db-c9b469c072e4",
      "name": "Send a message",
      "type": "n8n-nodes-base.discord",
      "position": [
        752,
        16
      ],
      "webhookId": "1ba58198-e9de-483e-98d5-8d625143b5d6",
      "parameters": {
        "content": "={{ $json.output }}",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": "1512432308152434708",
          "cachedResultUrl": "https://discord.com/channels/1512432308152434708",
          "cachedResultName": "Tin-Tin's server"
        },
        "options": {},
        "resource": "message",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ (() => { try { return $('Edit Fields').item.json.channelId; } catch(e) { return $('Edit Fields1').item.json.channelId; } })() }}"
        }
      },
      "credentials": {
        "discordBotApi": {
          "id": "u6trAC0DEn0eqs23",
          "name": "Discord Bot account Programmer-001"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "52055799-24b1-481f-ab7f-787729b8252b",
      "name": "Split Message",
      "type": "n8n-nodes-base.code",
      "position": [
        512,
        -128
      ],
      "parameters": {
        "jsCode": "const chunks = [];\nconst text = $json.output || \"\";\nconst maxLength = 1900;\n\nif (text.length <= maxLength) {\n  chunks.push(text);\n} else {\n  let currentChunk = \"\";\n  const lines = text.split('\\n');\n  for (const line of lines) {\n    if ((currentChunk + \"\\n\" + line).length > maxLength) {\n      if (currentChunk) chunks.push(currentChunk);\n      currentChunk = line;\n      while (currentChunk.length > maxLength) {\n        chunks.push(currentChunk.substring(0, maxLength));\n        currentChunk = currentChunk.substring(maxLength);\n      }\n    } else {\n      currentChunk = currentChunk ? (currentChunk + \"\\n\" + line) : line;\n    }\n  }\n  if (currentChunk) {\n    chunks.push(currentChunk);\n  }\n}\n\nreturn chunks.map(chunk => ({\n  ...$json,\n  output: chunk\n}));"
      },
      "typeVersion": 2
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MD Discord DM Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d3de0e2c-2751-4f76-86b0-9443c011d40c",
  "activeVersionId": null,
  "versionCounter": 24,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-06T07:37:39.306Z",
      "createdAt": "2026-06-06T07:37:39.306Z",
      "role": "workflow:owner",
      "workflowId": "AiIax4SxYvDOfUH4",
      "projectId": "gtdsnKAZJZorw4NC",
      "project": {
        "updatedAt": "2026-06-06T02:46:53.666Z",
        "createdAt": "2026-06-06T02:33:20.439Z",
        "id": "gtdsnKAZJZorw4NC",
        "name": "krit chantraprayoon <krit2518@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2026-06-06T02:33:20.439Z",
            "createdAt": "2026-06-06T02:33:20.439Z",
            "userId": "b036eff6-c4c3-4b24-b563-a8ff81bb18af",
            "projectId": "gtdsnKAZJZorw4NC",
            "user": {
              "updatedAt": "2026-06-06T08:00:05.114Z",
              "createdAt": "2026-06-06T02:33:18.872Z",
              "id": "b036eff6-c4c3-4b24-b563-a8ff81bb18af",
              "email": "krit2518@gmail.com",
              "firstName": "krit",
              "lastName": "chantraprayoon",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ngHGoKsaRVwCIB5F",
                "userActivatedAt": 1780728120755
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-06",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}