content-marketing-infra/shared-media/backup_v2/workflows.json
[{"updatedAt":"2026-06-05T14:05:21.201Z","createdAt":"2026-06-04T15:46:18.088Z","id":"qixkxq2AzNhzxTLx","name":"Workflow 2: AI Brain & Spec Generator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.2,"position":[-208,208],"id":"585d4c6c-562e-4236-8d45-0d266e23e37b","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const input = $input.item.json;\nconst profile = input.agent_profile || {};\nconst history = input.chat_history || [];\n\n// Format chat history to a clean string\nconst chat_history_parsed = history\n  .map(h => `${h.role}: ${h.message}`)\n  .join('\\n');\n\nreturn {\n  session_id: input.session_id || 'test_session_001',\n  message: input.message || 'สวัสดีครับ',\n  skill_set: profile.skill_set || '',\n  context_data: profile.context_data || '',\n  learned_logic: profile.learned_logic || '',\n  chat_history_parsed: chat_history_parsed\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,208],"id":"format-inputs-code-node","name":"Format Inputs","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"={{ $json.message }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[288,112],"id":"ollama-chain","name":"Ollama Chain","settings":{"onError":"continueRegularOutput","retryOnFail":true,"maxTries":3,"waitBetweenTries":15000}},{"parameters":{"model":"gemma2:2b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[256,384],"id":"ollama-model","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96a","name":"Ollama Local account"}}},{"parameters":{"jsCode":"let responseText = '';\n\ntry {\n  const ollamaOutput = $('Ollama Chain').item;\n  if (ollamaOutput && ollamaOutput.json && ollamaOutput.json.text) {\n    responseText = ollamaOutput.json.text;\n  } else {\n    throw new Error('Ollama failed to return response text');\n  }\n} catch (e) {\n  responseText = 'Error: Local AI (Ollama) ไม่ตอบสนอง หรือการประมวลผลล้มเหลว';\n}\n\nconst inputData = $('Format Inputs').item.json;\n\nreturn {\n  session_id: inputData.session_id,\n  user_message: inputData.message,\n  ai_response: responseText,\n  formatted_spec: responseText\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[544,208],"id":"extract-response-code-node","name":"Extract Response","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"INSERT INTO chat_history (session_id, role, message) VALUES ($1, $2, $3), ($1, $4, $5);","options":{"queryReplacement":"={{ [ $('Extract Response').item.json.session_id, 'user', $('Extract Response').item.json.user_message, 'assistant', $('Extract Response').item.json.ai_response ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,320],"id":"save-chat-history","name":"Save Chat History","alwaysOutputData":true,"credentials":{"postgres":{"id":"PEIuFXuORvNgS8U7","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO project_specs (session_id, raw_input, formatted_spec, status)\nVALUES ($1, $2, $3, 'draft')\nON CONFLICT (session_id) DO UPDATE \nSET raw_input = EXCLUDED.raw_input,\n    formatted_spec = EXCLUDED.formatted_spec,\n    updated_at = CURRENT_TIMESTAMP;","options":{"queryReplacement":"={{ [ $('Extract Response').item.json.session_id, $('Extract Response').item.json.user_message, $('Extract Response').item.json.formatted_spec ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[800,80],"id":"save-spec","name":"Save Spec","alwaysOutputData":true,"credentials":{"postgres":{"id":"PEIuFXuORvNgS8U7","name":"Postgres account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1040,208],"id":"merge-db-branches","name":"Merge","alwaysOutputData":true},{"parameters":{"jsCode":"return $('Extract Response').item.json;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,208],"id":"prepare-output-node","name":"Prepare Output","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Format Inputs","type":"main","index":0}]]},"Format Inputs":{"main":[[{"node":"Ollama Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Ollama Chain","type":"ai_languageModel","index":0}]]},"Ollama Chain":{"main":[[{"node":"Extract Response","type":"main","index":0}]]},"Extract Response":{"main":[[{"node":"Save Spec","type":"main","index":0},{"node":"Save Chat History","type":"main","index":0}]]},"Save Spec":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Save Chat History":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Prepare Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"instanceId":"941b6de2e7fc8454613dec48b10b1cb7763875a6746c1034d4db0f4696bea4b6"},"nodeGroups":[],"pinData":{},"versionId":"fda1163f-6e29-4a8f-be21-8332c6c1d975","activeVersionId":"fda1163f-6e29-4a8f-be21-8332c6c1d975","versionCounter":50,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-04T15:46:18.088Z","createdAt":"2026-06-04T15:46:18.088Z","role":"workflow:owner","workflowId":"qixkxq2AzNhzxTLx","projectId":"mNbIAw7B5sM9swTW","project":{"updatedAt":"2026-06-04T14:48:11.837Z","createdAt":"2026-06-04T14:46:37.070Z","id":"mNbIAw7B5sM9swTW","name":"krit chantraprayoon <krit2518@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5d1082fe-5540-4e35-a7fa-7f0be06bb91e"}}],"versionMetadata":{"name":"Version fda1163f","description":""}},{"updatedAt":"2026-06-05T13:39:08.461Z","createdAt":"2026-06-04T15:18:08.215Z","id":"AS581qRYgzWYz9hR","name":"Workflow 1: Data Ingestion & Batch Splitter","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pattern":"regex","value":".*"},"type":"n8n-nodes-discord.discordTrigger","typeVersion":1,"position":[-320,16],"id":"discord-trigger-node","name":"Discord Trigger","webhookId":"64b436f0-6ee8-40cd-9255-5480dd09a025","credentials":{"discordApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96b","name":"Discord Bot account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT skill_set, context_data, learned_logic FROM agent_knowledge WHERE agent_id = 'Agent-001';","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-112,16],"id":"54dea087-4df4-4d7e-a563-beb8ab994b6a","name":"Fetch Agent Profile","alwaysOutputData":true,"credentials":{"postgres":{"id":"PEIuFXuORvNgS8U7","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT role, message FROM chat_history WHERE session_id = $1 ORDER BY created_at DESC LIMIT 10;","options":{"queryReplacement":"={{ [ $('Discord Trigger').item.json.channelId || 'test_session_001' ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,16],"id":"9036ee57-3344-40ea-9e75-36ff9a189ac6","name":"Fetch Recent Chat History","alwaysOutputData":true,"credentials":{"postgres":{"id":"PEIuFXuORvNgS8U7","name":"Postgres account"}}},{"parameters":{"jsCode":"const triggerData = $('Discord Trigger').item.json || {};\n\n// Stop execution if the message is from a bot\nif (triggerData.author && triggerData.author.bot) {\n  return [];\n}\n\nconst session_id = triggerData.channelId || 'test_session_001';\nconst message = triggerData.content || '';\nconst isSaveCommand = message.startsWith('/save');\nconst action = isSaveCommand ? 'save_spec' : '';\nconst formatted_spec = '';\n\n// Fetch Recent Chat History outputs\nconst historyItems = $input.all();\n\n// Reverse history to keep it in chronological order and filter out empty objects\nconst formattedHistory = historyItems\n  .filter(item => item && item.json && item.json.role)\n  .map(item => ({\n    role: item.json.role,\n    message: item.json.message\n  }))\n  .reverse();\n\nconst agentProfile = $('Fetch Agent Profile').item.json || {};\n\n// Detect custom command like /fix, /logic, /learn\nconst isCommand = message.startsWith('/fix') || message.startsWith('/logic') || message.startsWith('/learn');\n\n// ล้างคำสั่งพวก /logic, /fix, /learn ออก เหลือแค่ตัวเนื้อหาคำสอน\nconst cleanMessage = message.replace(/^\\/(logic|fix|learn)\\s*/i, ''); \n\nreturn {\n  session_id,\n  message,\n  clean_message: cleanMessage,\n  chat_history: formattedHistory,\n  agent_profile: agentProfile,\n  is_command: isCommand,\n  action,\n  formatted_spec\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,16],"id":"7f4eb1f3-4b94-41ba-b2b3-56339828041d","name":"JavaScript Parser","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"none","version":3},"conditions":[{"leftValue":"={{ $json.is_command }}","rightValue":"","operator":{"type":"boolean","operation":"false"}},{"leftValue":"={{ $json.action }}","rightValue":"save_spec","operator":{"type":"string","operation":"notEquals"}},{"leftValue":"={{ $json.found }}","rightValue":"","operator":{"type":"boolean","operation":"false"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"none","version":3},"conditions":[{"leftValue":"={{ $json.is_command }}","rightValue":"","operator":{"type":"boolean","operation":"true"}},{"leftValue":"={{ $json.action }}","rightValue":"save_spec","operator":{"type":"string","operation":"notEquals"}},{"leftValue":"={{ $json.found }}","rightValue":"","operator":{"type":"boolean","operation":"false"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"none","version":3},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"save_spec","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"none","version":3},"conditions":[{"leftValue":"={{ $json.found }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[512,16],"id":"b9d32019-f9e4-4ca1-9742-c3896c229ec6","name":"Switch","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"UPDATE agent_knowledge SET learned_logic = CONCAT(learned_logic, E'\\n- ', $1), updated_at = NOW() WHERE agent_id = 'Agent-001';","options":{"queryReplacement":"={{ [ $json.clean_message || '' ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,160],"id":"update-learned-logic","name":"Update learned_logic","alwaysOutputData":true,"credentials":{"postgres":{"id":"PEIuFXuORvNgS8U7","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"qixkxq2AzNhzxTLx","mode":"list"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[992,-128],"id":"call-wf-2","name":"Call Wf 2"},{"parameters":{"jsCode":"return {\n  session_id: $input.item.json.session_id,\n  message: \"รับทราบครับ PM บันทึก Logic การทำงานชุดนี้เข้าสู่ระบบ PostgreSQL เรียบร้อยแล้ว!\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,160],"id":"format-command-response","name":"Format Command Response","alwaysOutputData":true},{"parameters":{"channelId":"={{ $json.session_id }}"},"type":"n8n-nodes-discord.discord","typeVersion":1,"position":[1200,16],"id":"discord-send-message","name":"Discord Send Message","credentials":{"discordApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96b","name":"Discord Bot account"}}},{"parameters":{"operation":"executeQuery","query":"WITH last_response AS (\n  SELECT message FROM chat_history \n  WHERE session_id = $2 AND role = 'assistant' \n  ORDER BY created_at DESC LIMIT 1\n),\nlast_question AS (\n  SELECT message FROM chat_history\n  WHERE session_id = $2 AND role = 'user'\n  ORDER BY created_at DESC LIMIT 1\n)\nINSERT INTO project_specs (session_id, formatted_spec, status) \nVALUES (\n  $2, \n  COALESCE(NULLIF($1, ''), (SELECT message FROM last_response), ''), \n  'draft'\n) \nON CONFLICT (session_id) \nDO UPDATE SET \n  formatted_spec = EXCLUDED.formatted_spec, \n  updated_at = NOW();\n\nWITH last_response AS (\n  SELECT message FROM chat_history \n  WHERE session_id = $2 AND role = 'assistant' \n  ORDER BY created_at DESC LIMIT 1\n),\nlast_question AS (\n  SELECT message FROM chat_history\n  WHERE session_id = $2 AND role = 'user'\n  ORDER BY created_at DESC LIMIT 1\n)\nINSERT INTO qa_memory (session_id, question, answer) \nVALUES (\n  $2, \n  COALESCE(NULLIF($3, ''), (SELECT message FROM last_question), 'Default Question'), \n  COALESCE(NULLIF($1, ''), (SELECT message FROM last_response), '')\n) \nON CONFLICT (session_id, question) \nDO UPDATE SET \n  answer = EXCLUDED.answer, \n  updated_at = NOW();","options":{"queryReplacement":"={{ [ $json.formatted_spec, $json.session_id, $json.message ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[720,400],"id":"update-spec-db","name":"Update Spec DB","alwaysOutputData":true,"credentials":{"postgres":{"id":"PEIuFXuORvNgS8U7","name":"Postgres account"}}},{"parameters":{"jsCode":"return {\n  session_id: $input.item.json.session_id,\n  message: \"บันทึกเอกสาร Specification เรียบร้อยแล้วครับ!\"\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[944,400],"id":"format-save-response","name":"Format Save Response","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"SELECT answer FROM qa_memory WHERE similarity(question, $1) > 0.5 ORDER BY similarity(question, $1) DESC LIMIT 1;","options":{"queryReplacement":"={{ [ $json.message ] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[512,-176],"id":"check-qa-memory-node","name":"Check QA Memory","alwaysOutputData":true,"credentials":{"postgres":{"id":"PEIuFXuORvNgS8U7","name":"Postgres account"}}},{"parameters":{"jsCode":"const memoryResult = $input.item.json || {};\nconst parserResult = $('JavaScript Parser').item.json || {};\n\nconst message = parserResult.message || '';\nconst isFinalCommand = message.includes('ส่งให้ ai สร้างเอกสาร user requirement') || message.includes('ส่งให้ ai สร้างเอกสาร');\n\nif (memoryResult.answer && !isFinalCommand) {\n  return {\n    found: true,\n    session_id: parserResult.session_id,\n    message: parserResult.message,\n    ai_response: memoryResult.answer,\n    formatted_spec: memoryResult.answer,\n    is_command: parserResult.is_command,\n    action: parserResult.action\n  };\n} else {\n  return {\n    found: false,\n    ...parserResult\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-176],"id":"determine-next-step-node","name":"Determine Next Step","alwaysOutputData":true}],"connections":{"Discord Trigger":{"main":[[{"node":"Fetch Agent Profile","type":"main","index":0}]]},"Fetch Agent Profile":{"main":[[{"node":"Fetch Recent Chat History","type":"main","index":0}]]},"Fetch Recent Chat History":{"main":[[{"node":"JavaScript Parser","type":"main","index":0}]]},"JavaScript Parser":{"main":[[{"node":"Check QA Memory","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call Wf 2","type":"main","index":0}],[{"node":"Update learned_logic","type":"main","index":0}],[{"node":"Update Spec DB","type":"main","index":0}],[{"node":"Discord Send Message","type":"main","index":0}]]},"Call Wf 2":{"main":[[{"node":"Discord Send Message","type":"main","index":0}]]},"Update learned_logic":{"main":[[{"node":"Format Command Response","type":"main","index":0}]]},"Format Command Response":{"main":[[{"node":"Discord Send Message","type":"main","index":0}]]},"Update Spec DB":{"main":[[{"node":"Format Save Response","type":"main","index":0}]]},"Format Save Response":{"main":[[{"node":"Discord Send Message","type":"main","index":0}]]},"Check QA Memory":{"main":[[{"node":"Determine Next Step","type":"main","index":0}]]},"Determine Next Step":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"instanceId":"941b6de2e7fc8454613dec48b10b1cb7763875a6746c1034d4db0f4696bea4b6"},"nodeGroups":[],"pinData":{},"versionId":"1c5b89b2-eb24-4533-9dbb-e493c8cd248a","activeVersionId":"1c5b89b2-eb24-4533-9dbb-e493c8cd248a","versionCounter":55,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-06-04T15:18:08.215Z","createdAt":"2026-06-04T15:18:08.215Z","role":"workflow:owner","workflowId":"AS581qRYgzWYz9hR","projectId":"mNbIAw7B5sM9swTW","project":{"updatedAt":"2026-06-04T14:48:11.837Z","createdAt":"2026-06-04T14:46:37.070Z","id":"mNbIAw7B5sM9swTW","name":"krit chantraprayoon <krit2518@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5d1082fe-5540-4e35-a7fa-7f0be06bb91e"}}],"versionMetadata":{"name":"Version 1c5b89b2","description":""}},{"updatedAt":"2026-06-05T16:03:54.855Z","createdAt":"2026-06-05T15:23:44.646Z","id":"idxz03pp8u6uLhxO","name":"Workflow 4 : POC Discord GritTin chat 2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pattern":"regex","value":".*"},"type":"n8n-nodes-discord.discordTrigger","typeVersion":1,"position":[-416,48],"id":"083e05fb-9e01-42ae-80e4-2598055aaabe","name":"Discord Trigger","webhookId":"c6c94c61-c867-41af-b738-713e8676d2f1","credentials":{"discordApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96b","name":"Discord Bot account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-128,48],"id":"58b76762-9ef9-4549-b65c-ce24251d3ead","name":"Ollama Chain"},{"parameters":{"model":"gemma2:2b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-240,272],"id":"207073b2-0afe-4b46-b12e-08cbb32ccb1b","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96a","name":"Ollama Local account"}}},{"parameters":{"jsCode":"return {\n  session_id: $('Discord Trigger').item.json.channelId,\n  response: $('Ollama Chain').item.json.text\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[112,48],"id":"6d0e81d9-799e-41bd-bf85-d43e15719323","name":"Extract Response"},{"parameters":{"channelId":"={{ $json.session_id }}"},"type":"n8n-nodes-discord.discord","typeVersion":1,"position":[352,48],"id":"a21ad91b-6b5e-4a2f-86c1-2dc6932755f8","name":"Discord Send Message","credentials":{"discordApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96b","name":"Discord Bot account"}}}],"connections":{"Discord Trigger":{"main":[[{"node":"Ollama Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Ollama Chain","type":"ai_languageModel","index":0}]]},"Ollama Chain":{"main":[[{"node":"Extract Response","type":"main","index":0}]]},"Extract Response":{"main":[[{"node":"Discord Send Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"e2a7dddd-9c9e-47a6-a504-352d2551f460","activeVersionId":"e2a7dddd-9c9e-47a6-a504-352d2551f460","versionCounter":14,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-06-05T15:23:44.646Z","createdAt":"2026-06-05T15:23:44.646Z","role":"workflow:owner","workflowId":"idxz03pp8u6uLhxO","projectId":"mNbIAw7B5sM9swTW","project":{"updatedAt":"2026-06-04T14:48:11.837Z","createdAt":"2026-06-04T14:46:37.070Z","id":"mNbIAw7B5sM9swTW","name":"krit chantraprayoon <krit2518@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5d1082fe-5540-4e35-a7fa-7f0be06bb91e"}}],"versionMetadata":{"name":"Version e2a7dddd","description":""}},{"updatedAt":"2026-06-05T16:03:54.828Z","createdAt":"2026-06-05T15:14:01.141Z","id":"pocDiscordGritTin","name":"Workflow 3: POC Discord GritTin chat","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pattern":"regex","value":".*"},"type":"n8n-nodes-discord.discordTrigger","typeVersion":1,"position":[-240,144],"id":"454552b2-e278-49f7-acca-ae9cf972f4b2","name":"Discord Trigger","webhookId":"e2ff3093-99ee-448a-b455-956ed2533679","credentials":{"discordApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96b","name":"Discord Bot account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[32,144],"id":"a03d9831-bd89-47fc-934f-b587dea1cf96","name":"Ollama Chain"},{"parameters":{"model":"gemma2:2b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-80,352],"id":"877dd58e-8ebe-41be-91d1-065df106689e","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96a","name":"Ollama Local account"}}},{"parameters":{"jsCode":"return {\n  session_id: $('Discord Trigger').item.json.channelId,\n  response: $('Ollama Chain').item.json.text\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,144],"id":"6d558698-d623-4a01-b90f-68208b13993c","name":"Extract Response"},{"parameters":{"channelId":"={{ $json.session_id }}"},"type":"n8n-nodes-discord.discord","typeVersion":1,"position":[512,144],"id":"cdc19b7d-5ad6-4a52-95dc-a42a99ab6957","name":"Discord Send Message","credentials":{"discordApi":{"id":"a2b8e3df-498c-4f7d-8be9-cf4d8ebcd96b","name":"Discord Bot account"}}}],"connections":{"Discord Trigger":{"main":[[{"node":"Ollama Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Ollama Chain","type":"ai_languageModel","index":0}]]},"Ollama Chain":{"main":[[{"node":"Extract Response","type":"main","index":0}]]},"Extract Response":{"main":[[{"node":"Discord Send Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"instanceId":"941b6de2e7fc8454613dec48b10b1cb7763875a6746c1034d4db0f4696bea4b6"},"nodeGroups":[],"pinData":{},"versionId":"695f9f8d-f02d-49fe-a19f-8bb336ee0119","activeVersionId":"695f9f8d-f02d-49fe-a19f-8bb336ee0119","versionCounter":8,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-06-05T15:14:01.153Z","createdAt":"2026-06-05T15:14:01.153Z","role":"workflow:owner","workflowId":"pocDiscordGritTin","projectId":"mNbIAw7B5sM9swTW","project":{"updatedAt":"2026-06-04T14:48:11.837Z","createdAt":"2026-06-04T14:46:37.070Z","id":"mNbIAw7B5sM9swTW","name":"krit chantraprayoon <krit2518@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5d1082fe-5540-4e35-a7fa-7f0be06bb91e"}}],"versionMetadata":{"name":"Version 695f9f8d","description":""}}]